<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keywords</key>
	<string></string>
	<key>txt</key>
	<string>Resources Github Repository for this project: https://github.com/WardF/btcite Getting Started with Rails: http://guides.rubyonrails.org/getting_started.html </string>
</dict>
</plist>
